.wrapper {
  max-width: 100%;
  margin: 0 auto;
  padding-left: 80px;
  padding-right: 80px;
}

.wrapperBtn {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.btn {
  width: 250px;
  height: 45px;
}
